

body {
    color:#2e4617;
}


/*
Home Page Design

*/

  .navbar {
    margin-bottom: 3%;
    background-color: #02191b;
  }

  .navbar a {
    color: #d9d9db;
  }

.heroImg {
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("medicinalleaf.jpg");
   height:60vh;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}
.herotext {
    position: absolute;
    top: 45%;
    left: 45%;
    color:#d9d9db;
}
h1 {
font-size:1.4rem;
}

.hero-button{
    position: absolute;
    transform: translate(100%, -10%);

}

.gallery {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
  }
  .col {
    margin: 4% 5%;
    
  }
img {
  margin: 3%;
}
.smaller{
    width: 60%;
    border-radius: 50%;
}

  
/*
About Page Design
*/





/*
Login and Thank you page designs
*/

/* media queries */
@media(max-width: 600px){
   .navbar {
flex-direction: column;
     }
    
h1 {
  font-size: 1rem;
}

    .gallery {
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        text-align: center;

    }
    #searchBar {
      display: none;
    }
     .btn .hero-button{
      width: 5%;
      height: auto;
    }
    h5, .col p {
      text-align: center;
    }
    .heroImg{
      background-position:left;
    }
  }
      



@media(max-width: 800px){
    .gallery {
        display:flex;
        flex-direction:column;
        flex-wrap: nowrap;
        text-align: center;
 } 
}